.pitch-class-input {
}
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.pitch-row {
  display: flex;
}

.spacer-button {
  border: none;
}

.key-button {
  all: unset;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  user-select: none;
}

.pitch-button {
  text-align: center;
  border: black 1px solid;
  border-radius: 50%;
  padding: 0;
  line-height: 2.5em;
  margin: 0 2px;
  font-family: "Inter";
}

.black-row {
  letter-spacing: -2px;
  line-height: 1.8em;
}

.black-key {
  background: black;
  color: white;
}

.unclickable-key {
  background: #f1f1f1;
  border: #f1f1f1 1px solid;
  color: #9c9c9c;
}
