.main-content-container {
    width: 100%;
    max-width: 480px;
    margin: auto;
}

.midground-text {
  color: #9c9c9c;
}

.text-container {
    margin: 1em 0 ;
}

.inter {
    font-family: "Inter";
}

.section-title {
    font-weight: bold;
    margin: 1em 0;
}
